<div class="mx-3" *ngIf="refresh | async">
  @for(habit of _myHabits; track habit){
  <common-card-habit [habit]="habit"> </common-card-habit>
  }
  <!-- Se non ci sono elementi mostro un div con un messaggio "Nessun elemento presente" -->
  @if(!_myHabits.length){
  <div class="text-center mt-3">
    <p>No elements present</p>
  </div>
  }
</div>
@defer{
<app-actual-goal-modal
  [visible]="visible"
  (hide)="hideDialog($event)"
  [currentHabit]="currentHabit"
  (confirmEventEmitter)="updateActualGoal($event)"
  (editHabitEmitter)="editHabit($event)"
></app-actual-goal-modal>
}
