ion-item {
  --inner-padding-start: 0;
  --inner-padding-end: 0;
  width: 100%;
  display: block;
  background-color: transparent;
}

p-card {
  width: 100%;
  box-sizing: border-box;
}


ion-item::part(native) {
  padding-left: unset;
}


/* Rimuove il focus visibile specificamente dai p-checkbox */
.no-blur:focus {
  outline: none;
  box-shadow: none;
}

.no-blur input:focus {
  outline: none;
  box-shadow: none;
}

::ng-deep ion-item .item-inner {
  border: none;
}


.habit-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-container {
  width: auto;
  /* Larghezza auto per mantenere il contenuto quadrato */
  min-width: 50px;
  /* Imposta una larghezza minima per l'icona */
  height: 100%;
  /* Occupa l'intera altezza del contenitore padre */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  /* Rendi circolare il container se preferisci */
  background-color: var(--primary-color);
  /* Usa una variabile CSS o un valore fisso */
  padding: 10px;
  /* Aggiungi spazio intorno all'icona */
}

.icon-container::before {
  content: '';
  float: left;
  padding-top: 100%;
}


.category-label,
.habit-title {
  display: block;
}

.material-icons {
  font-size: 24px;
  /* Dimensione dell'icona */
}
