p-card {
  width: 100%;
  box-sizing: border-box;

  .p-card-body {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  /* Rimuove il focus visibile specificamente dai p-checkbox */
  .no-blur:focus {
    outline: none;
    box-shadow: none;
  }

  .no-blur input:focus {
    outline: none;
    box-shadow: none;
  }

  .habit-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .icon-container {
    width: auto;
    /* Imposta una larghezza minima per l'icona */
    min-width: 2.5rem;
    height: 100%;
    /* Occupa l'intera altezza del contenitore padre */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* Rendi circolare il container se preferisci */
    background-color: var(--primary-color);
    /* Usa una variabile CSS o un valore fisso */
    padding: 10px;
    /* Aggiungi spazio intorno all'icona */
  }

  .icon-container::before {
    content: '';
    float: left;
    padding-top: 100%;
  }

  .category-label,
  .habit-title {
    display: block;
  }

  ::ng-deep .p-card-body {
    padding: 0;
  }


}
