<div class="mx-1">
  <div class="component-container">
    <div>
      <app-navigation-header
        [title]="isHabitToEdit ? 'Edit Habit' : 'Add New Habit'"
      ></app-navigation-header>
      <form [formGroup]="newHabitForm">
        <div class="new-habit-container mt-5">
          <div class="mt-5 w-screen px-3 mx-auto pb-2">
            <p-floatLabel>
              <input pInputText formControlName="title" />
              <label>Habit name</label>
            </p-floatLabel>
          </div>

          <!-- <h4>Set start date</h4> -->
          <div class="mt-5 w-screen px-3 mx-auto pb-2">
            <p-floatLabel>
              <p-calendar
                [showButtonBar]="true"
                [touchUI]="true"
                formControlName="startDate"
                appendTo="body"
                dateFormat="dd/mm/yy"
                styleClass="w-screen"
                [showTime]="true"
                [hourFormat]="'12'"
              ></p-calendar>
              <label>Start date</label>
            </p-floatLabel>
          </div>

          <div class="mt-5 w-screen px-3 mx-auto pb-2">
            <p-floatLabel>
              <p-calendar
                [showButtonBar]="true"
                [touchUI]="true"
                formControlName="endDate"
                appendTo="body"
                dateFormat="dd/mm/yy"
                styleClass="w-screen"
                [showTime]="true"
                [hourFormat]="'12'"
              ></p-calendar>
              <label>End date</label>
            </p-floatLabel>
          </div>

          <!-- colorpicker -->
          <div class="mt-5 w-screen px-3 mx-auto pb-2">
            <h4>Set color</h4>
            <p-colorPicker
              formControlName="color"
              [style]="{ width: '100%' }"
              (onChange)="onColorChange($event.value)"
            ></p-colorPicker>
          </div>

          <div class="periodicity-container w-screen mx-auto px-3 my-5">
            <h4>Set periodicity</h4>
            <div class="days flex justify-content-center">
              <button
                *ngFor="let day of days; let i = index"
                [ngClass]="{ selected: selectedDays.includes(day.id) }"
                (click)="toggleDay(day.id)"
              >
                {{ day.label }}
              </button>
            </div>
          </div>

          <div class="reminder w-screen mx-auto px-3">
            <p-floatLabel>
              <p-calendar
                [showTime]="true"
                hourFormat="12"
                [timeOnly]="true"
                formControlName="remind"
                [touchUI]="true"
                appendTo="body"
                styleClass="w-screen"
                [showClear]="true"
                (onClear)="onReminderClear()"
              ></p-calendar>

              <label>
                {{
                  newHabitForm.get("remind")?.value
                    ? "Reminder time"
                    : "No reminder time selected"
                }}
              </label>
            </p-floatLabel>
          </div>
        </div>
      </form>
    </div>

    <div class="mt-5">
      <p-button
        [label]="'Test Salvataggio'"
        size="small"
        severity="warning"
        (onClick)="testSalvataggio()"
        [rounded]="true"
      />

      <p-button
        [label]="isHabitToEdit ? 'Edit habit' : 'Add new habit'"
        size="small"
        severity="warning"
        (onClick)="submit()"
        [rounded]="true"
        [disabled]="!newHabitForm.valid"
      />
    </div>
  </div>
</div>
