<app-navigation-header
  class="sticky top-0 z-5"
  [title]="isHabitToEdit ? 'Edit Habit' : 'Add New Habit'"
></app-navigation-header>
<form [formGroup]="newHabitForm" (ngSubmit)="saveHabit()">
  <div class="mx-1">
    <div class="my-5">
      <div class="grid padding1">
        <div class="col-4">
          <div
            class="text-center border-round-sm font-bold icon-container"
            [ngStyle]="{
            'background-color': selectedColor?.hex || defaultIconBackgroundColor,
          }"
          >
            <span
              class="material-icons"
              [ngStyle]="{
              color: selectedColor?.textColor || defaultIconTextColor,
            }"
            >
              {{ iconSelectedCategory ? iconSelectedCategory : "category" }}
            </span>
          </div>
        </div>

        <div class="col-8 flex align-items-end">
          <p-dropdown
            [options]="categories"
            formControlName="category"
            [checkmark]="true"
            optionLabel="label"
            [showClear]="true"
            placeholder="Select a Category"
            class="w-full-category w-full"
            (onChange)="onCategoryChange($event.value)"
          />
        </div>
      </div>

      <!-- Choose a color -->
      <div class="w-screen px-3 mx-auto padding1">
        <p-floatLabel>
          <p-dropdown
            [options]="colors_categories"
            formControlName="color"
            optionLabel="name"
            [showClear]="true"
            placeholder="Select a Color"
            class="w-full-category w-full"
            (onChange)="onColorChange($event.value)"
          >
            <ng-template
              let-data
              pTemplate="item"
              *ngIf="colors_categories && colors_categories.length > 0"
            >
              <div class="flex align-items-center gap-2">
                <div
                  class="color-circle"
                  [style.background-color]="data.hex"
                ></div>
                <div>{{ data.name }}</div>
              </div>
            </ng-template>
          </p-dropdown>
          <label>Choose a color</label>
        </p-floatLabel>
      </div>

      <div class="new-habit-container">
        <!-- Titolo -->
        <div class="w-screen px-3 mx-auto padding1">
          <p-floatLabel>
            <input type="text" pInputText formControlName="title" />
            <label>Habit name</label>
          </p-floatLabel>
        </div>

        <!-- During all day? -->
        <div
          class="w-screen mx-auto px-3 flex align-items-center justify-content-between padding1"
        >
          <h6>This event during all day?</h6>
          <p-inputSwitch styleClass="flex" formControlName="allDay" />
        </div>

        <!-- Start date</h6> -->
        <div class="w-screen px-3 mx-auto padding1">
          <p-floatLabel>
            <p-calendar
              #startDatePicker
              [showButtonBar]="true"
              [touchUI]="true"
              formControlName="startDate"
              appendTo="body"
              dateFormat="dd/mm/yy"
              styleClass="w-screen"
              [showTime]="false"
              [hourFormat]="'24'"
            ></p-calendar>
            <label>Start period</label>
          </p-floatLabel>
        </div>

        <!-- End date -->
        <div class="w-screen px-3 mx-auto padding1">
          <p-floatLabel>
            <p-calendar
              #endDatePicker
              [showButtonBar]="true"
              [touchUI]="true"
              formControlName="endDate"
              appendTo="body"
              dateFormat="dd/mm/yy"
              styleClass="w-screen"
              [showTime]="false"
              [hourFormat]="'24'"
              [minDate]="getMinDate()"
            ></p-calendar>
            <label>End period</label>
          </p-floatLabel>
        </div>

        <!-- Start and end daily hour -->
        @if(!allDay){
        <div class="flex">
          <div class="w-screen px-3 mx-auto padding1">
            <p-floatLabel>
              <p-calendar
                [touchUI]="true"
                appendTo="body"
                [timeOnly]="true"
                formControlName="startDailyHour"
              >
              </p-calendar>
              <label>Start daily hour</label>
            </p-floatLabel>
          </div>

          <div class="w-screen px-3 mx-auto padding1">
            <p-floatLabel>
              <p-calendar
                [touchUI]="true"
                appendTo="body"
                [timeOnly]="true"
                formControlName="endDailyHour"
              >
              </p-calendar>
              <label>End daily hour</label>
            </p-floatLabel>
          </div>
        </div>
        }
        <!-- periodicity -->
        <div class="periodicity-container w-screen mx-auto px-3 mt-1 padding1">
          <h6>Set periodicity</h6>
          <div class="days flex justify-content-center">
            <button
              *ngFor="let day of days; let i = index"
              [ngClass]="{ selected: selectedDays.includes(day.id) }"
              type="button"
              (click)="toggleDay(day.id)"
            >
              {{ day.label }}
            </button>
          </div>
        </div>

        <!-- Goal -->
        <div class="w-screen px-3 mx-auto padding1">
          <h6>Set goal</h6>
          <div class="grid">
            <div class="col-3">
              <p-floatLabel>
                <p-inputNumber formControlName="goal" [min]="1">
                </p-inputNumber>
              </p-floatLabel>
            </div>
            <div class="col-9">
              <p-dropdown
                [options]="goalTypes"
                formControlName="goalType"
                optionLabel="label"
                optionValue="value"
                [showClear]="true"
                placeholder="Select a goal type"
                class="w-full-category w-full"
              >
              </p-dropdown>
            </div>
          </div>
        </div>

        <!-- Custom -->
        <div
          class="w-screen px-3 mx-auto padding1"
          *ngIf="newHabitForm.get('goalType')?.value === 'custom'"
        >
          <p-floatLabel>
            <input
              type="text"
              pInputText
              placeholder="e.g. glass, pages..."
              formControlName="customGoalType"
            />
            <label>Choose your goal type</label>
          </p-floatLabel>
        </div>

        <!-- reminder -->
        <div class="reminder w-screen mx-auto px-3 padding1">
          <p-floatLabel>
            <p-calendar
              [showTime]="true"
              hourFormat="12"
              [timeOnly]="true"
              formControlName="remind"
              [touchUI]="true"
              appendTo="body"
              styleClass="w-screen"
              [showClear]="true"
              (onClear)="onReminderClear()"
            ></p-calendar>

            <label>
              {{
                newHabitForm.get("remind")?.value
                  ? "Reminder time notification"
                  : "No reminder time notifications selected"
              }}
            </label>
          </p-floatLabel>
        </div>
      </div>
      <div
        *ngIf="shouldDisplayMessage()"
        class="info-card mx-auto p-2 border-round-sm flex align-items-center justify-content-center my-3"
      >
        <small class="text-justify w-full">
          <span
            class="material-icons text-sm mr-1 text-orange-400"
            style="vertical-align: middle"
            >lightbulb</span
          >
          Questo evento {{ getMessageVerb() }} ogni
          <strong>{{ infoMessage.days.join(", ") }}</strong> dalle ore
          <strong>{{ infoMessage.startHour }}</strong> alle
          <strong>{{ infoMessage.endHour }}</strong> nel periodo compreso tra
          <strong>{{ infoMessage.startDateNoHours }}</strong> e
          <strong>{{ infoMessage.endDateNoHours }}</strong> con un obiettivo di
          <strong>{{ infoMessage.goal }} </strong>
          <strong>{{ infoMessage.goalType }}</strong
          >.
        </small>
      </div>

      <!-- Buttons -->
      <div class="mt-5 flex justify-content-center">
        <p-button
          size="small"
          severity="danger"
          type="submit"
          [outlined]="true"
          class="mr-2"
        >
          <span class="material-icons mr-2 text-base"> save </span>
          <span>{{ isHabitToEdit ? "Edit habit" : "Add new habit" }}</span>
        </p-button>

        <p-button
          *ngIf="isHabitToEdit"
          size="small"
          severity="danger"
          (click)="showDialog()"
        >
          <span class="material-icons mr-2 text-base"> delete_forever </span>
          <span>Delete</span>
        </p-button>
      </div>
    </div>
  </div>
</form>

<app-confirm-delete-modal
  [visible]="visible"
  (hide)="hideDialog($event)"
  (deleteFutureEventsEmitter)="onDeleteFutureEvents($event)"
  (confirmDeleteEventEmitter)="onDeleteEvent($event)"
></app-confirm-delete-modal>
