<div class="mx-1">
  <div class="component-container">
    <div>
      <div
        class="header flex flex-row align-items-center justify-content-center"
      >
        <span
          class="material-icons ml-3 mt-2"
          (click)="goBack()"
          style="position: absolute; left: 0; cursor: pointer"
          >arrow_back</span
        >
        <h3>{{isHabitToEdit ? 'Edit Habit' : 'Add New Habit'}}</h3>
      </div>
      <form [formGroup]="newHabitForm">
        <div class="new-habit-container mt-5">
          <div class="mt-5 w-screen px-3 mx-auto pb-2">
            <p-floatLabel>
              <input pInputText formControlName="title" />
              <label>Habit name</label>
            </p-floatLabel>
          </div>

          <!-- <h4>Set start date</h4> -->
          <div class="mt-5 w-screen px-3 mx-auto pb-2">
            <p-floatLabel>
              <p-calendar
                [showButtonBar]="true"
                [touchUI]="true"
                formControlName="startDate"
                appendTo="body"
                dateFormat="dd/mm/yy"
                styleClass="w-screen"
              ></p-calendar>
              <label>Start date</label>
            </p-floatLabel>
          </div>

          <div class="periodicity-container w-screen mx-auto px-3 my-5">
            <h4>Set periodicity</h4>
            <div class="days flex justify-content-center">
              <button
                *ngFor="let day of days; let i = index"
                [ngClass]="{ selected: selectedDays.includes(day.id) }"
                (click)="toggleDay(day.id)"
              >
                {{ day.label }}
              </button>
            </div>
          </div>

          <div class="reminder w-screen mx-auto px-3">
            <p-floatLabel>
              <p-calendar
                [showTime]="true"
                hourFormat="12"
                [timeOnly]="true"
                formControlName="remind"
                [touchUI]="true"
                appendTo="body"
                styleClass="w-screen"
              ></p-calendar>

              <label>
                {{
                  newHabitForm.get("remind")?.value
                    ? "Reminder time"
                    : "No reminder time selected"
                }}
              </label>
            </p-floatLabel>
          </div>
        </div>
      </form>
    </div>

    <div class="mt-5">
      <p-button
        [label]="isHabitToEdit? 'Edit habit' :'Add new habit'"
        size="small"
        severity="warning"
        (onClick)="submit()"
        [rounded]="true"
        [disabled]="!newHabitForm.valid"
      />
    </div>
  </div>
</div>
