@import '../../theme/variables.scss';

ion-tab-bar {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-color: $background-color;
}

ion-tab-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $text-color;
  --background: transparent;
  transition: transform 0.3s, color 0.3s;
}

ion-tab-button.tab-selected {
  color: $color-selected;
  /* Colore arancione per il bottone attivo */
}

.button-center {
  --background: transparent !important;
  position: relative;
  border-radius: 50%;
  width: clamp(3rem, 3vw + 1rem, 5rem);
  height: clamp(3rem, 3vw + 1rem, 5rem);
}

@media (max-width: 768px) {
  ion-tab-button ion-icon {
    font-size: 24px;
  }

  .button-center ion-icon {
    font-size: 50px;
  }
}
