<ion-tabs>
  <ion-tab-bar slot="bottom" class="bottom-tab-bar">
    <ion-tab-button tab="dashboard" href="/tabs/dashboard">
      <ion-icon mode="md" name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button
      tab="daily-journal"
      href="/tabs/daily-journal"
      class="inner-left-btn"
    >
      <ion-icon name="newspaper-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button
      class="button-center"
      tab="add-edit-habit"
      href="/tabs/add-edit-habit"
    >
      <ion-icon
        name="add-circle"
        class="icon-button inner-center-btn"
      ></ion-icon>
    </ion-tab-button>

    <ion-tab-button
      tab="habit-charts"
      href="/tabs/habit-charts"
      class="inner-right-btn"
    >
      <ion-icon name="stats-chart-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
