<div class="h-screen overflow-auto">
  <!-- Titolo e breve descrizione -->
  <h4 class="px-3">Habit charts</h4>
  <p class="px-4">
    The habit charts show you the habits that make you happy and how many habits
    you have done.
  </p>
  <div class="px-3">
    <h5>The habit that make you happy</h5>
    <app-podium
      [primo]="primo"
      [secondo]="secondo"
      [terzo]="terzo"
    ></app-podium>
  </div>
  <div class="chart-container my-2 px-3">
    <div class="chart-padding">
      <h5>How many habits have you done?</h5>
      <p-chart
        type="pie"
        [data]="pieChartData"
        [options]="chartOptions"
      ></p-chart>
    </div>
    <div class="my-5">
      <h5>How many habits have you this week?</h5>
      <p-chart
        type="bar"
        [data]="barChartData"
        [options]="chartOptions"
      ></p-chart>
    </div>
    <div>
      <h5>Habits progress by category</h5>
      <p-chart
        type="doughnut"
        [data]="categoryChartData"
        [options]="chartOptions"
      ></p-chart>
    </div>
  </div>
</div>
