@import '../../../../theme/variables.scss';

.capitalize {
  // La prima lettera maiuscola
  text-transform: capitalize;
}

.grid-with-gradient-border {
  // Un bordo in basso leggermente sfumato di arancione
  border-bottom: 1px solid #f0f0f0;
  font-size: 1.58rem; // Aumentato del 5% rispetto a 1.5rem
  padding: 1rem 0.5rem; // Aggiungi padding per layout coerente
}

// Stile per il Bottone Custom
.user-menu-button {
  border-radius: 50%; /* Forma rotonda */
  color: white; /* Icona bianca */
  cursor: pointer; /* Cursor pointer per indicare che è cliccabile */
  display: flex; /* Display flex per centrale l'icona */
  align-items: center; /* Allinea al centro verticalmente */
  justify-content: center; /* Allinea al centro orizzontalmente */
  padding: 20px; /* Padding per dare spazio intorno all'icona */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombra leggera per un effetto sollevato */
  width: 40px; /* Larghezza fissa */
  height: 40px; /* Altezza fissa */
  transition: background 0.3s ease; /* Transizione per l'effetto hover */
  border: 1px solid;
}

@media (max-width: 768px) {
  .grid-with-gradient-border {
    font-size: 1.26rem; // Aumentato del 5% rispetto a 1.2rem
    padding: 0.8rem 0.4rem; // Adatta il padding su schermi più piccoli
  }

  .user-menu-button {
    width: 35px; // Riduci la dimensione del bottone su schermi più piccoli
    height: 35px; // Riduci la dimensione del bottone su schermi più piccoli
    // padding: 8px; // Adatta il padding su schermi più piccoli
  }
}

@media (max-width: 480px) {
  .grid-with-gradient-border {
    font-size: 1.05rem; // Aumentato del 5% rispetto a 1rem
    padding: 0.6rem 0.3rem; // Adatta il padding su schermi molto piccoli
  }

  .user-menu-button {
    width: 30px; // Riduci ulteriormente la dimensione del bottone su schermi molto piccoli
    height: 30px; // Riduci ulteriormente la dimensione del bottone su schermi molto piccoli
    // padding: 6px; // Adatta il padding su schermi molto piccoli
  }
}

@media (max-width: 390px) {
  .day {
    margin: 0.6rem; // Reduce margin for 390px width screens
  }

  .day-name {
    font-size: 0.79rem; // Adjust font size for 390px width screens (5% larger)
  }

  .day-circle {
    width: 2.52rem; // Adjust size for 390px width screens (5% larger)
    height: 2.52rem; // Adjust size for 390px width screens (5% larger)
  }

  .day-number {
    font-size: 0.79rem; // Adjust font size for 390px width screens (5% larger)
  }

  .prevBtn,
  .nextBtn {
    width: 2.52rem; // Adjust size for 390px width screens (5% larger)
    height: 2.52rem; // Adjust size for 390px width screens (5% larger)
    padding-top: 0.73rem; // Adjust padding for 390px width screens
  }
}
