<div
  class="flex align-items-center justify-content-between p-3 grid-with-gradient-border"
>
  <div class="flex align-items-center justify-content-center">
    <span class="capitalize mr-2">{{ dayOfWeek }}</span>
    <span>{{ numberOfDay }},</span>
  </div>

  <div
    class="flex align-items-center justify-content-center flex-grow-1 ms-3 capitalize"
  >
    {{ currentMonth }}
  </div>

  <div class="flex justify-content-end">
    <button class="user-menu-button">
      <span class="material-icons">person</span>
    </button>
  </div>
</div>
