// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

//Base Colors
$orange: #FF3B30;
$orange-inactive: #DB5447;

$lightGray: #3a3f4b;
$gray: #1e232e;
$darkGray: #13161d;
//Colors Stepper
$stepper-color-highlight: #FF3B30;
$stepper-color-highlight-text: black;
$stepper-color-inactive: #DB5447;
$stepper-color-inactive-text: black;
$stepper-color-border: black;
