// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  --ion-font-family: 'Poppins', sans-serif;
}



// Colors extracted from the app image
$primary-color: #0e5b95; // Blu chiaro
$secondary-color: #2b4469; // Blu medio
$background-color: #191c37; // Sfondo scuro
$hover-background-color: #4f516b; // Grigio bluastro
$focus-outline-color: #0e5b95; // Blu chiaro
$error-color: #ffdd00; // Giallo
$highlight-background-color: #f97316; // Arancione del pulsante "DI PIÙ"
$text-color: #ffffff; // Bianco
$text-color-dark: #000000; // Nero (per contrasto su sfondi chiari)
$border-color: #1d2d59; // Blu scuro
$color-selected: $highlight-background-color; // Giallo per l'icona selezionata
$text-on-selected: #000000; // Nero per il testo su sfondo giallo
$gray: gray;
$today-color: $highlight-background-color;


// Messages colors
$info-background-color: $primary-color; // Blu chiaro
$warning-background-color: $error-color; // Giallo
$error-background-color: $highlight-background-color; // Arancione

// Tab bar colors
$tab-bar-background: $background-color;
$tab-bar-color: $text-color;
$tab-bar-color-selected: $color-selected; // Giallo

// Button colors
$button-center-background: $highlight-background-color; // Arancione
$button-center-color: $text-color; // Bianco

// Forms colors
$form-background-color: $background-color; // Sfondo scuro
$form-hover-border-color: $hover-background-color; // Grigio bluastro
$form-focus-border-color: $focus-outline-color; // Blu chiaro
$form-filled-background-color: $background-color; // Sfondo scuro

// Buttons
$button-secondary-background: $secondary-color; // Blu medio
$button-secondary-text: $text-color; // Bianco
$button-success-background: $hover-background-color; // Grigio bluastro (Placeholder)
$button-success-text: $text-color; // Bianco (Placeholder)
$button-info-background: $info-background-color; // Blu chiaro
$button-info-text: $text-color; // Bianco
$button-warning-background: $warning-background-color; // Giallo
$button-warning-text: $text-color-dark; // Nero
$button-help-background: $hover-background-color; // Grigio bluastro (Placeholder)
$button-help-text: $text-color; // Bianco (Placeholder)

// Button danger
$button-danger-background: $highlight-background-color; // Arancione
$button-danger-text: $text-color; // Bianco
$button-danger-background-outline: lighten($highlight-background-color, 10%); // Arancione più chiaro

// Surfaces
$surface-ground: $background-color; // Sfondo scuro
$surface-content: $secondary-color; // Blu medio
$surface-border: $border-color; // Blu scuro


//stepper
$stepper-background: $background-color; // Sfondo scuro
$stepper-border: $border-color; // Blu scuro
$stepper-text: $text-color; // Bianco
$stepper-text-active: $color-selected; // Giallo
$stepper-text-inactive: $hover-background-color; // Grigio bluastro
$stepper-bar-background: $secondary-color; // Sfondo scuro


// Inactive/Invalid states
$inactive-color: lighten($background-color, 20%); // Versione più chiara del colore di sfondo
$invalid-color: #ff4d4d; // Rosso chiaro per indicare errori (puoi personalizzarlo)
$disabled-color: darken($hover-background-color, 20%); // Grigio più scuro per stati disabilitati


// Card
$card-background-color: $background-color;
$card-text-color: $text-color;
$card-shadow-color: rgba(255, 255, 255, 0.1); // Colore dell'ombra per l'effetto rilievo
$card-hover-shadow-color: rgba(255, 255, 255, 0.2); // Ombra per hover
