<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="onHide()"
  [showHeader]="false"
  styleClass="p-dialog-confirm-delete"
  appendTo="body"
  [dismissableMask]="true"
>
  <ng-template pTemplate="content">
    <!-- Edit button -->
    <div class="flex justify-content-end">
      <p-button
        severity="secondary"
        styleClass="my-1 py-0"
        label="Edit"
        (onClick)="editHabit()"
      />
    </div>

    <!-- Daily goal -->
    <div
      class="daily-goal flex flex-column justify-content-center align-items-center py-2 gap-2"
    >
      <!-- Header con icona e informazioni dell'abitudine -->
      <div class="flex align-items-center justify-content-center px-3">
        <div
          class="icon-container border-round flex align-items-center justify-content-center mr-2"
          style="width: 2rem; height: 2rem"
          [style.background-color]="currentHabit.color.primary"
          [style.color]="currentHabit.color.secondary"
        >
          <span class="material-icons text-base">{{
            currentHabit.category.icon
          }}</span>
        </div>
        <div class="flex-grow-1 flex flex-column justify-content-center">
          <div class="text-sm font-medium">
            {{ currentHabit.category.label }}
          </div>
          <div class="text-xs">{{ currentHabit.title }}</div>
        </div>
      </div>

      <!-- Sezione Daily Goal con icona e numero in un cerchio -->
      <div class="flex align-items-center justify-content-center w-full px-3">
        <span class="material-icons text-secondary mr-2">today</span>
        <div class="font-medium text-sm">Daily Goal:</div>
        <div class="ml-2">
          {{ currentHabit.goal | formatNumber }}
        </div>
        <div class="text-xs ml-2">
          {{
            currentHabit.goalType === "custom"
              ? currentHabit.customGoalType
              : currentHabit.goalType
          }}
        </div>
      </div>
    </div>

    <div
      class="knob-container flex justify-content-between align-items-center my-4"
    >
      <div class="button-group left">
        <p-button
          styleClass="mb-2 button-standard font-semibold text-xs	"
          [rounded]="true"
          severity="danger"
          [outlined]="true"
          (click)="decreaseKnobValue(1)"
        >
          -
        </p-button>
        <p-button
          *ngIf="currentHabit.goal > 10 && currentHabit.goal < 2000"
          styleClass="mb-2 button-standard font-semibold	text-xs"
          [rounded]="true"
          severity="danger"
          [outlined]="true"
          (click)="decreaseKnobValue(10)"
        >
          -10
        </p-button>
        <p-button
          *ngIf="currentHabit.goal > 100"
          styleClass="mb-2 button-standard font-semibold	text-xs"
          [rounded]="true"
          severity="danger"
          [outlined]="true"
          (click)="decreaseKnobValue(100)"
        >
          -100
        </p-button>
        <p-button
          *ngIf="currentHabit.goal > 1000"
          styleClass="mb-2 button-standard font-semibold	text-xs"
          [rounded]="true"
          severity="danger"
          [outlined]="true"
          (click)="decreaseKnobValue(1000)"
        >
          -1000
        </p-button>
      </div>
      <div class="flex flex-column align-items-center">
        <p-knob
          *ngIf="currentHabit"
          [(ngModel)]="currentKnobValue"
          (onChange)="onKnobChange($event)"
          [valueColor]="knobColor"
          [size]="150"
          [max]="
            currentKnobValue > currentHabit.goal
              ? currentKnobValue
              : currentHabit.goal
          "
        >
        </p-knob>

        <!-- reset -->
        <p-button
          styleClass="button-standard font-semibold	text-xs"
          [rounded]="true"
          severity="danger"
          [outlined]="true"
          (click)="resetKnobValue()"
        >
          <span class="material-icons">clear</span>
        </p-button>
      </div>

      <div class="button-group right">
        <p-button
          styleClass="mb-2 button-standard font-semibold	text-xs"
          [rounded]="true"
          severity="danger"
          [outlined]="true"
          (click)="increaseKnobValue(1)"
        >
          +
        </p-button>
        <p-button
          *ngIf="currentHabit.goal > 10 && currentHabit.goal < 2000"
          styleClass="mb-2 button-standard font-semibold	text-xs"
          [rounded]="true"
          severity="danger"
          [outlined]="true"
          (click)="increaseKnobValue(10)"
        >
          +10
        </p-button>
        <p-button
          *ngIf="currentHabit.goal > 100"
          styleClass="mb-2 button-standard font-semibold	text-xs"
          [rounded]="true"
          severity="danger"
          [outlined]="true"
          (click)="increaseKnobValue(100)"
        >
          +100
        </p-button>
        <p-button
          *ngIf="currentHabit.goal > 1000"
          styleClass="mb-2 button-standard font-semibold	text-xs"
          [rounded]="true"
          severity="danger"
          [outlined]="true"
          (click)="increaseKnobValue(1000)"
        >
          +1000
        </p-button>
      </div>
    </div>
  </ng-template>
</p-dialog>
