@import '../../theme/variables.scss';


/** STILE DELLE TAB */
.tab-group {
  display: flex;
  justify-content: center;
}

.tab {
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin: 0 5px;
  border-bottom: 2px solid $secondary-color;
  text-align: center;
  flex: 1;
}

.tab:hover {
  background-color: transparent;
}

.tab.active {
  color: $text-color;
  border-bottom: 2px solid $highlight-background-color;
  font-weight: bold;
}

.cdk-drag-preview {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); // Aggiungi un'ombra leggera
}

