@import '../../theme/variables.scss';

/** STILE DELLO SWIPE CON ANIMAZIONI */
.swipe-container {
  touch-action: pan-y pinch-zoom;
  position: relative;
  overflow: hidden;
}

.swipe-left,
.swipe-right {
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  /* Effetto più morbido */
}

.swipe-left {
  transform: translateX(-100%) rotateY(-10deg);
  /* Aggiunge una rotazione per l'effetto curvo */
}

.swipe-right {
  transform: translateX(100%) rotateY(10deg);
  /* Aggiunge una rotazione per l'effetto curvo */
}


/** STILE DELLE CELLE DEL CALENDARIO */

#calendar-header {
  position: sticky;
  top: 0;
  z-index: 1010;
  padding: 1rem 0;
  background-color: $background-color; // Sostituito con variabile
}



.progress-text {
  position: absolute;
  top: 50%;
  /* Allinea al bordo inferiore del div contenitore */
  left: 50%;
  /* Centra orizzontalmente */
  transform: translate(-50%, -50%);
  /* Ajusta verticalmente per posizionare sotto il semicerchio */
  fill: white;
  /* Colore del testo */
}

.input-switch-day-todo.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
  background-image: url('./././../../assets/icon/calendar_today.svg');
}

.input-switch-day-todo.p-inputswitch .p-inputswitch-slider:before {
  background-image: url('./././../../assets/icon/check_circle.svg');
}

.input-switch-day-todo.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background-color: $background-color;
  border: 1px solid $secondary-color;
}

.input-switch-day-todo.p-inputswitch .p-inputswitch-slider {
  background-color: $background-color;
  border: 1px solid $secondary-color;
}


.header {
  height: 6rem;
  display: flex;
  align-items: center;
}
