.cal-week-view {
  background-color: transparent;
}
.cal-week-view .cal-hour-odd {
  background-color: inherit;
}


.cal-week-view .cal-time-events .cal-day-columns:not(.cal-resize-active) .cal-hour-segment:hover{
  background-color: orange;
}
