<div id="calendar-header" class="flex flex-column">
  <div class="grid border-none border-bottom-1 border-600 border-solid px-3">
    <div class="col my-auto">
      <ng-container *ngIf="view !== CalendarView.Week; else weekTitle">
        <h4 class="p-text-center m-0">
          {{ viewDate | calendarDate : view + "ViewTitle" : "en" }}
        </h4>
      </ng-container>
      <ng-template #weekTitle>
        <h4 class="p-text-center m-0">
          {{ viewDate | calendarDate : "dayViewTitle" : "en" }}
        </h4>
      </ng-template>
    </div>
    <div
      class="col flex justify-content-end"
      *ngIf="
        (view === CalendarView.Month || view === CalendarView.Day) &&
        switchDayView
      "
    >
      <p-button [outlined]="true" severity="danger">
        <span class="material-icons mr-2">today</span>
        <div
          mwlCalendarToday
          [(viewDate)]="viewDate"
          (mwlClick)="scrollToCurrentHour()"
        >
          Today
        </div>
      </p-button>
    </div>

    <div
      class="col-2 flex justify-content-end"
      *ngIf="view === CalendarView.Day && !switchDayView"
    >
      <p-knob
        [(ngModel)]="displayKnobValue"
        [size]="70"
        [readonly]="true"
        [max]="100"
        [valueColor]="knobColor"
      />
    </div>
  </div>

  <div
    class="tab-group-container"
    cdkDropList
    (cdkDropListDropped)="drop($event)"
  >
    <div class="tab-group p-1">
      <div
        class="tab pt-2 pb-1"
        *ngFor="let tab of tabs; let i = index"
        cdkDrag
        (click)="setView(tab.view)"
        [class.active]="view === tab.view"
      >
        <div class="flex flex-row align-items-center justify-content-center">
          <div class="material-icons p-2 vertical-align-middle text-base">
            {{ tab.icon }}
          </div>
          <div>{{ tab.label }}</div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="flex justify-content-between align-items-center mx-3 mt-1"
    *ngIf="view === CalendarView.Day"
  >
    <h5 class="font-bold">My habits</h5>
    <!-- switch che passa alla view Day o ToDo -->
    <p-inputSwitch
      styleClass="flex"
      [(ngModel)]="switchDayView"
      (onChange)="setView(CalendarView.Day)"
    />
  </div>
</div>

<div>
  <div [ngSwitch]="view">
    <div #swipeContainer class="swipe-container mb-3">
      <div class="px-3">
        <mwl-calendar-month-view
          *ngSwitchCase="CalendarView.Month"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          [activeDayIsOpen]="activeDayIsOpen"
          (dayClicked)="dayClicked($event.day)"
          (eventTimesChanged)="eventTimesChanged($event)"
          [openDayEventsTemplate]="customOpenDayEventsTemplate"
          (beforeViewRender)="beforeMonthViewRender()"
        >
          <ng-template
            #customOpenDayEventsTemplate
            let-events="events"
            let-isOpen="isOpen"
          >
            <div class="cal-open-day-events" *ngIf="isOpen">
              <ng-container *ngFor="let event of events">
                <div class="event-container">
                  <!-- Icon and background color -->
                  <div
                    class="event-icon-container border-round-sm"
                    [style.backgroundColor]="event.color.primary"
                  >
                    <span class="material-icons">{{
                      event.category.icon
                    }}</span>
                  </div>

                  <!-- Category and title -->
                  <div class="event-details">
                    <div class="event-category">{{ event.category.label }}</div>
                    <div class="event-title">{{ event.title }}</div>
                  </div>

                  <!-- Edit icon -->
                  <div class="edit-icon">
                    <span class="material-icons" (click)="handleEvent(event)"
                      >edit</span
                    >
                  </div>
                </div>
              </ng-container>
            </div>
          </ng-template>
        </mwl-calendar-month-view>
      </div>

      <div *ngSwitchCase="CalendarView.Day">
        <mwl-calendar-day-view
          *ngIf="viewDate && events && switchDayView"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          (eventTimesChanged)="eventTimesChanged($event)"
          [eventTemplate]="eventDayTemplate"
        >
        </mwl-calendar-day-view>

        <app-todo-habits-view
          *ngIf="!switchDayView"
          class="mb-3"
          (updatedHabits)="updateHabits($event)"
          (touchstart)="$event.stopPropagation()"
          (touchmove)="$event.stopPropagation()"
          (touchend)="$event.stopPropagation()"
        >
          ></app-todo-habits-view
        >
      </div>
    </div>
  </div>
</div>

<ng-template #eventDayTemplate let-event="weekEvent.event">
  <div
    *ngIf="event"
    class="cal-event"
    [style.background-color]="event.color.primary"
    [style.color]="event.color.secondary"
    (click)="handleEvent(event)"
  >
    <div class="flex flex-column" [class.py-1]="event.allDay">
      <div class="cal-event-header flex">
        <span
          class="material-icons category-icon mr-2"
          [class.text-xs]="event.allDay"
          >{{ event.category.icon }}</span
        >
        <div
          class="category-label"
          [class.text-sm]="!event.allDay"
          [class.text-xs]="event.allDay"
        >
          {{ event.category.label }}
        </div>
      </div>
      <div class="cal-event-content">
        <div
          class="cal-event-title"
          [class.text-base]="!event.allDay"
          [class.text-xs]="event.allDay"
        >
          {{ event.title }}
        </div>
      </div>
    </div>
    <!-- knob -->
    <div class="cal-event-knob">
      <p-knob
        [(ngModel)]="event.actualGoal"
        [size]="40"
        [readonly]="true"
        [max]="event.actualGoal > event.goal ? event.actualGoal : event.goal"
        [valueColor]="knobColor"
      />
    </div>
  </div>
</ng-template>
