@import '../../theme/variables.scss';


.cal-week-view {
  background-color: transparent;
}

.cal-week-view .cal-hour-odd {
  background-color: inherit;
}


.cal-week-view .cal-time-events .cal-day-columns:not(.cal-resize-active) .cal-hour-segment:hover {
  background-color: orange;
}


.swipe-container {
  touch-action: pan-y pinch-zoom;
}

.swipe-container {
  position: relative;
  overflow: hidden;
}

.swipe-left,
.swipe-right {
  transition: transform 0.1s ease-in-out;
}

.swipe-left {
  transform: translateX(-100%);
}

.swipe-right {
  transform: translateX(100%);
}

#calendar-header {
  position: sticky;
  top: 0;
  z-index: 1010;
  padding: 1rem 0;
  /* Uso 'rem' per una migliore responsività */
  background-color: $background-color;
}

.tab-group {
  display: flex;
  justify-content: center;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin: 0 5px;
  border-bottom: 2px solid transparent;
  text-align: center;
  flex: 1;
}

.tab:hover {
  background-color: transparent;
}

.tab.active {
  color: orange;

  border-bottom: 2px solid orange;
  font-weight: bold;
}


.cdk-drag-preview {
  background-color: rgba(240, 240, 240, 0.3); /* Colore grigio chiaro con opacità */
  border: 1px solid rgba(204, 204, 204, 0.3); /* Bordo grigio chiaro con opacità */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Aggiungi un'ombra leggera */
}

