<div id="calendar-header" class="flex flex-column">
  <div
    class="grid border-none border-bottom-1 border-600 border-solid py-3 px-3"
  >
    <div class="col my-auto">
      <ng-container *ngIf="view !== CalendarView.Week; else weekTitle">
        <h3 class="p-text-center m-0">
          {{ viewDate | calendarDate : view + "ViewTitle" : "en" }}
        </h3>
      </ng-container>
      <ng-template #weekTitle>
        <h3 class="p-text-center m-0">
          {{ viewDate | calendarDate : "dayViewTitle" : "en" }}
        </h3>
      </ng-template>
    </div>
    <div class="col flex justify-content-end">
      <p-button [outlined]="true" severity="danger">
        <span class="material-icons mr-2">today</span>
        <div
          mwlCalendarToday
          [(viewDate)]="viewDate"
          (mwlClick)="scrollToCurrentHour()"
        >
          Today
        </div>
      </p-button>
    </div>
  </div>

  <div
    class="tab-group-container"
    cdkDropList
    (cdkDropListDropped)="drop($event)"
  >
    <div class="tab-group p-1">
      <div
        class="tab pt-2 pb-1"
        *ngFor="let tab of tabs; let i = index"
        cdkDrag
        (click)="setView(tab.view)"
        [class.active]="view === tab.view"
      >
        <div class="flex flex-row align-items-center justify-content-center">
          <div class="material-icons p-2 vertical-align-middle text-base">
            {{ tab.icon }}
          </div>
          <div>{{ tab.label }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div [ngSwitch]="view">
    <div #swipeContainer class="swipe-container mb-3">
      <div class="px-3">
        <mwl-calendar-month-view
          *ngSwitchCase="CalendarView.Month"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          [activeDayIsOpen]="activeDayIsOpen"
          (dayClicked)="dayClicked($event.day)"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-month-view>
      </div>

      <mwl-calendar-day-view
        *ngSwitchCase="CalendarView.Day"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
        [eventTemplate]="eventTemplate"
      >
      </mwl-calendar-day-view>
    </div>

    <!-- N.B. Viene usata Week perché la libreria non riconosce altri valori -->
    <app-todo-habits-view
      class="mb-3"
      *ngSwitchCase="CalendarView.Week"
    ></app-todo-habits-view>
  </div>
</div>

<!-- eventTemplate -->
<ng-template #eventTemplate let-event="weekEvent.event">
  <div
    *ngIf="event"
    class="cal-event"
    [style.background-color]="event.color.primary"
    [style.color]="event.color.secondary"
  >
    <div class="flex flex-column">
      <div class="cal-event-header flex">
        <span class="material-icons category-icon mr-2">{{
          event.category.icon
        }}</span>
        <div class="category-label text-sm">{{ event.category.label }}</div>
      </div>
      <div class="cal-event-content">
        <div class="cal-event-title text-base">{{ event.title }}</div>
      </div>
    </div>
    <div class="cal-event-actions">
      <button class="cal-event-action" (click)="handleEvent('Edited', event)">
        <span class="material-icons">edit</span>
      </button>
    </div>
  </div>
</ng-template>
