<div id="calendar-header" class="flex flex-column">
  <common-calendar-header [viewDate]="viewDate" [view]="view">
    <div class="col-2 flex justify-content-end">
      <p-knob
        [(ngModel)]="displayKnobValue"
        [size]="70"
        [readonly]="true"
        [max]="100"
        [valueColor]="knobColor"
        strokeWidth="4"
      />
    </div>
  </common-calendar-header>
</div>

<div>
  <h5 class="px-3">Your Daily Habits</h5>
  <div class="habits-container flex flex-column">
    @for(habit of _myHabits; track habit){
    <common-card-habit
      class="habit-card w-full"
      [habit]="habit"
      [cardType]="CardType.DayJournal"
    >
    </common-card-habit>
    } @empty{
    <div class="empty-habits text-center font-semibold text-yellow-400">
      <p>No habits found for today. Please insert one to use this section.</p>
    </div>
    }
  </div>
</div>

<div class="mood-tracker px-3">
  <h5>How do you feel based on your activities today?</h5>
  <div class="mood-icons">
    <button
      *ngFor="let mood of moods; let idx = index"
      type="button"
      class="mood-btn"
      [class.selected]="selectedMood === mood.value"
      (click)="selectMood(mood.value)"
      [value]="mood.value"
    >
      {{ mood.icon }}
    </button>
  </div>

  <textarea
    pInputTextarea
    placeholder="Add your notes here..."
    [(ngModel)]="note"
    [disabled]="_myHabits.length === 0"
  ></textarea>
</div>

<!-- Buttons -->
<div class="mt-5 flex justify-content-center">
  <p-button
    size="small"
    severity="danger"
    [outlined]="true"
    class="mr-2"
    [disabled]="_myHabits.length === 0"
    (click)="saveMoodAndNotes()"
  >
    <span class="material-icons mr-2 text-base"> save </span>
    <span>Add note</span>
  </p-button>
</div>
