@import '../../theme/variables.scss';

.header h3 {
  font-size: 1.7rem;
}

.days button {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 50%;
  margin: 0.5rem;
  font-size: 1.1rem;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid $secondary-color !important;
}

.days button.selected {
  background-color: $color-selected; // Cambia colore quando selezionato
}

.reminder-time button {
  border: 2px solid transparent;
  border-radius: 20px; // Bottoni con bordi arrotondati
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  margin: 0 0.5rem; // Distanza tra i bottoni
  cursor: pointer;
  flex: 0 0 auto; // Evita stretching o shrinking
  outline: none;
  transition: all 0.3s;
}

.reminder-time button.selected {
  border-color: $color-selected;
}

p-floatlabel input {
  width: 100%;
}

::ng-deep .w-full-category .p-dropdown {
  width: 100%;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($background-color, 0.75);
  background-image: radial-gradient(circle at 20% 20%, rgba($secondary-color, 0.1), transparent 80%),
    radial-gradient(circle at 80% 80%, rgba($secondary-color, 0.1), transparent 80%);
  backdrop-filter: blur(10px) brightness(110%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  height: 100%;
  color: $text-color;
  border-radius: 10px;
  border: 1px solid rgba($background-color, 0.5);
}


.color-circle {
  width: 1.3rem;
  height: 1.3rem;
}

::ng-deep.p-inputnumber-input {
  width: 100%;
}

.padding1 {
  padding: 0.8rem;
}

h6 {
  margin-top: 0;
}

.info-card {
  background-color: $secondary-color;
  /* Colore di sfondo leggero */
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  /* Ombra interna per l'effetto incassato */
  max-width: 80%;
  /* Massimo 80% della larghezza del contenitore per non essere troppo invadente */
}

@media (max-width: 768px) {
  .header h3 {
    font-size: 1.5rem;
  }

  .reminder-time button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }

}

@media (max-width: 480px) {
  .header h3 {
    font-size: 1.3rem;
  }


  .reminder-time button {
    padding: 0.4rem 0.8rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 320px) {
  .header h3 {
    font-size: 1rem;
  }


  .reminder-time button {
    padding: 0.3rem 0.6rem; // Riduce ulteriormente il padding
    font-size: 0.8rem;
  }


  p-button {
    font-size: 0.8rem; // Riduce la dimensione del testo nel bottone
    padding: 0.5rem 1rem; // Riduce il padding del bottone
  }
}

@media (min-width: 390px) {

  .reminder-time button {
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
  }
}




.invalid-field {
  border-color: orange !important;
  /* Usa !important per sovrascrivere eventuali altri stili */
}

::ng-deep .input-switch-all-day.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
  background-image: url('./././../../assets/icon/calendar_today.svg');
}

::ng-deep .input-switch-all-day.p-inputswitch .p-inputswitch-slider:before {
  background-image: url('./././../../assets/icon/schedule_icon.svg');
}





//Beta styles
::ng-deep.p-dropdown-panel,
.periodicity-container,
.goal-container {
  max-width: 320px !important;
}
