/* styles.css o weekly-calendar.component.css */
.week-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; /* Assicura che gli elementi siano distribuiti equamente */
  // width: 100%;
}

.day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: gray;
}

.day-name {
  font-size: 0.8rem;
  color: white;
}

.day-number {
  font-size: 0.8rem;
  color: white;
}

.prevBtn,
.nextBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.today {
  background-color: red; /* Sostituisci con il colore desiderato */
  color: white; /* Per garantire che il testo sia leggibile su sfondo scuro */
}

:host {
  display: block;
  // margin: 0 16px;  /* Aggiunge margini di 16px a destra e sinistra */
}
