@import '../variables.scss';


//P-BUTTON
button:focus {
  outline: none;
  box-shadow: none;
}

.p-button-danger {
  background-color: $button-danger-background;
  color: $button-danger-text;
}

//P-INPUTTEXT
.p-inputtext {
  background-color: transparent;
}

.p-float-label label {
  font-size: 0.8rem;
}


//P-CHECKBOX
.p-checkbox .p-checkbox-box {
  width: 1.5rem;
  /* Larghezza della checkbox */
  height: 1.4rem;
  /* Altezza della checkbox */
  border-radius: 50%;
  /* Rende la checkbox rotonda */
}

.p-checkbox-box {
  outline: none;
  box-shadow: none;
}

// p-card
.p-card {
  background-color: $card-background-color;
  color: $card-text-color;

  &:hover {
    box-shadow: 0 4px 8px $card-hover-shadow-color;
  }
}


// p-datePicker
.p-datepicker,
.p-datepicker-header {
  background-color: $background-color;
}
