@import './theme/variables.scss';


//P-BUTTON
button:focus {
  outline: none;
  box-shadow: none;
}

.p-button-danger {
  background-color: $orange-inactive;
  border-color: $orange-inactive;

  &:hover {
    background-color: $orange;
    border-color: $orange;
  }
}

//P-INPUTTEXT
.p-inputtext {
  background-color: whitesmoke;
}

