@import './theme/variables.scss';


//P-BUTTON
button:focus {
  outline: none;
  box-shadow: none;
}

.p-button-danger {
  background-color: $orange-inactive;
  border-color: $orange-inactive;

  &:hover {
    background-color: $orange;
    border-color: $orange;
  }
}

//P-INPUTTEXT
.p-inputtext {
  background-color: whitesmoke;
}

//STEPPER
// .p-stepper {
//   flex-basis: 50rem;

//   .p-stepper-panels {
//     background: transparent;
//   }

//   .p-stepper-header {
//     .p-stepper-action .p-stepper-number {
//       background: $stepper-color-inactive;
//       color: $stepper-color-inactive-text;
//       border: $stepper-color-border;
//       min-width: 1.5rem;
//       height: 1.5rem;
//       line-height: 1.5rem;
//       font-size: 0.75rem;
//     }

//     .p-stepper-action {
//       background: transparent;
//     }
//   }

//   .p-stepper-header.p-highlight .p-stepper-number {
//     background: $stepper-color-highlight;
//     color: $stepper-color-highlight-text;
//     border: $stepper-color-border;
//   }
// }
