// Import variables
@import '../../../theme/variables.scss';

// Container for the week
.week-container {
  display: flex;
  flex-direction: row;
  align-items: self-end;
  justify-content: space-around;
}

// Individual day container
.day {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

// Day name
.day-name {
  font-size: 0.8rem;
  color: white;
  margin-bottom: 0.5rem;
}

// Circle representing the day
.day-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: $lightGray;
  border: 1px solid white;
  margin: 0 0.1rem;
}

// Day number
.day-number {
  font-size: 0.8rem;
  color: white;
}

// Previous and next buttons
.prevBtn,
.nextBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  margin: 1rem 0;
}

// Styling for today's date
.today {
  border: 2px solid white;
  background-color: $orange;
}

.dayNameToday,
.dayNumberToday {
  color: white;
}

:host {
  display: block;

}

.selected-day {
  background-color: $orange-inactive;
  /* Sfondo blu navy */
  border: 2px solid white;
  /* Bordo bianco */
  color: white;
  /* Testo bianco per migliorare la leggibilità */
}

.selected-day-number {
  color: white;
  /* Testo bianco per migliorare la leggibilità */
}
