@import '../../../theme/variables.scss';

// Container for the week
.week-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 0.5rem;
  height: 3.5rem; // Ensure a consistent height for centering
}

// Individual day container
.day {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem; // Original margin
}

// Day name
.day-name {
  font-size: 0.8rem;
  margin-bottom: 0.5rem; // Original margin
}



// Circle representing the day
.day-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem; // Original size
  height: 2.5rem; // Original size
  border-radius: 50%;
  border: 1px solid;
  margin: 0 0.1rem;
}

// Day number
.day-number {
  font-size: 0.8rem; // Original size
  color: $text-color;
}
.dayNumberToday {
  font-weight: bold;
  color: $text-on-selected;
  font-size: 0.9rem !important;
}

// Previous and next buttons
.prevBtn,
.nextBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem; // Original size
  height: 2.5rem; // Original size
  border-radius: 50%;
  background-color: transparent;
  margin: 1rem 0; // Original margin
  border: 1px solid;
}

.today {
  border: 3px solid $color-selected;
  background-color: $today-color !important;
  font-weight: bold;
  color: $text-on-selected;
}

.selected-day {
  background-color: $color-selected; // Sfumatura più chiara per i giorni selezionati
  border: 2px solid $color-selected; // Bordo leggermente desaturato
  color: $text-on-selected;
}

.day-with-data {
  // background-color: $orange-dark; // Sfumatura più scura per i giorni con dati
  border: 2px solid $color-selected; // Bordo arancione standard
  color: $text-color;
}

.day-number-with-data {
  font-weight: bold;
}
.selected-day-number {
  color: $text-on-selected;
}

:host {
  display: block;
}

@media (max-width: 768px) {
  .week-container {
    padding: 0 0.3rem; // Slightly reduce padding on smaller screens
    height: auto; // Adjust height for smaller screens
  }

  .day {
    margin: 0.8rem; // Slightly reduce margin on smaller screens
  }

  .day-name {
    font-size: 0.75rem; // Slightly reduce font size on smaller screens
  }

  .day-circle {
    width: 2.3rem; // Slightly reduce size on smaller screens
    height: 2.3rem; // Slightly reduce size on smaller screens
  }

  .day-number {
    font-size: 0.75rem; // Slightly reduce font size on smaller screens
  }

  .prevBtn,
  .nextBtn {
    width: 2.3rem; // Slightly reduce size on smaller screens
    height: 2.3rem; // Slightly reduce size on smaller screens
  }
}

@media (max-width: 480px) {
  .week-container {
    padding: 0 0.2rem; // Further reduce padding on the smallest screens
    height: auto; // Adjust height for the smallest screens
  }

  .day {
    margin: 0.5rem; // Further reduce margin on the smallest screens
  }

  .day-name {
    font-size: 0.7rem; // Further reduce font size on the smallest screens
  }

  .day-circle {
    width: 2.1rem; // Further reduce size on the smallest screens
    height: 2.1rem; // Further reduce size on the smallest screens
  }

  .day-number {
    font-size: 0.7rem; // Further reduce font size on the smallest screens
  }

  .prevBtn,
  .nextBtn {
    width: 2.1rem; // Further reduce size on the smallest screens
    height: 2.1rem; // Further reduce size on the smallest screens
  }
}
