<div class="stepper-container my-2 mx-2">
  <div class="stepper">
    <div
      *ngFor="let step of steps; let i = index"
      class="step pointer-events-none"
      [class.active]="step.active"
      (click)="setActiveAndUpdateActiveContents(i)"
    ></div>
  </div>

  <div
    *ngFor="let stepForm of stepForms; let i = index"
    [hidden]="i !== activeIndex"
  >
    <form [formGroup]="stepForm">
      <div class="content">
        <!-- Contenitore per altri tipi di domande (separato per non interferire con il css) -->
        <div *ngFor="let question of contents.steps[i]">
          <div *ngIf="question.type === typeContentStepEnum.TEXT" class="my-5">
            <p-floatLabel>
              <input pInputText [formControlName]="question.name" />
              <label
                >{{ question.content }}{{ question.required ? "*" : "" }}</label
              >
            </p-floatLabel>
          </div>

          <div
            *ngIf="question.type === typeContentStepEnum.NUMBER"
            class="my-5"
          >
            <p-floatLabel>
              <p-inputNumber
                inputallowEmptyId="integeronly"
                [formControlName]="question.name"
              />

              <label
                >{{ question.content }}{{ question.required ? "*" : "" }}</label
              >
            </p-floatLabel>
          </div>

          <div
            *ngIf="question.type === typeContentStepEnum.TEXT_WITH_ICON_NO_FORM"
            class="my-5 flex flex-column align-items-center"
          >
            <div class="circle-icon">
              <span class="material-symbols-outlined text-6xl">{{
                question.icon
              }}</span>
            </div>

            <p class="font-bold text-lg">{{ question.content }}</p>
          </div>
        </div>

        <!-- Contenitore specifico per i blocchi -->
        <div class="icon-block-container overflow-y-scroll">
          <ng-container *ngFor="let question of contents.steps[i]">
            <div
              *ngIf="question.type === typeContentStepEnum.ICON_BLOCK"
              class="my-5 icon-block"
              [class.selected]="
                isSelected(question.id, typeContentStepEnum.ICON_BLOCK)
              "
              (click)="toggleSelection(question.id, i)"
            >
              <span class="material-symbols-outlined text-6xl">{{
                question.icon
              }}</span>
              <div class="text-xs">{{ question.title }}</div>
            </div>

            <div
              *ngIf="question.type === typeContentStepEnum.TEXT_BLOCK"
              class="my-5 icon-block"
              [class.selected]="
                isSelected(question.id, typeContentStepEnum.TEXT_BLOCK)
              "
              (click)="toggleSelection(question.id, i)"
            >
              <span class="text-2xl">{{ question.title }}</span>
              <div class="text-sm">{{ question.content }}</div>
            </div>
          </ng-container>
        </div>
      </div>
    </form>
  </div>

  <div class="footer flex justify-content-between">
    <p-button
      label="Back"
      size="small"
      (click)="prevStep()"
      [disabled]="activeIndex === 0"
      [rounded]="true"
      [outlined]="true"
      severity="secondary"
    ></p-button>
    <p-button
      *ngIf="!showConfirmButtonCloseSetup"
      label="Next"
      size="small"
      (click)="nextStepAndSubmit()"
      [rounded]="true"
      severity="danger"
    ></p-button>

    <p-button
      *ngIf="showConfirmButtonCloseSetup"
      label="Proceed"
      size="small"
      (click)="goToHomeAfterSubscription()"
      [rounded]="true"
      severity="danger"
    ></p-button>
  </div>
</div>
