<div class="podium-container">
  <div class="podium-column second">
    <div class="podium-number">
      <span class="material-icons" style="color: silver">emoji_events</span>
    </div>
    <div class="podium-block">
      <!-- <div class="podium-name">{{ secondo?.category?.label }}</div> -->
      <div class="podium-score">{{ secondo?.title }}</div>
    </div>
  </div>
  <div class="podium-column first">
    <div class="podium-number">
      <span class="material-icons" style="color: gold">emoji_events</span>
    </div>
    <div class="podium-block">
      <!-- <div class="podium-name">{{ primo?.category?.label }}</div> -->
      <div class="podium-score">{{ primo?.title }}</div>
    </div>
  </div>
  <div class="podium-column third">
    <div class="podium-number">
      <span class="material-icons" style="color: #cd7f32">emoji_events</span>
    </div>
    <div class="podium-block">
      <!-- <div class="podium-name">{{ terzo?.category?.label }}</div> -->
      <div class="podium-score">{{ terzo?.title }}</div>
    </div>
  </div>
</div>
